<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page {{ page_number }}</title>
    <style>{{ html_css }}</style>
</head>
<body>
    {{ page_container | safe }}
</body>
</html>
